---
// export const prerender = false;

import BaseLayout from "./BaseLayout.astro";

import Section from "~/components/Section";

const categorize = (array, fn) => array.reduce((r, v, i, a, k = fn(v)) => ((r[k] || (r[k] = [])).push(v), r), {});
const categories = categorize(await Astro.glob("../pages/docs/**.md"), page => page.frontmatter.category);
---

<BaseLayout>
	<Section class="docs-layout">
		<aside class="docs-sidebar">
			<ul>
				{Object.keys(categories).map(category => (
					<details class="docs-sidebar-category" open>
						<summary>
							{category}
							<svg data-hk="0-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" class="astro-XIML7APE "><path d="M4.427 7.427l3.396 3.396a.25.25 0 00.354 0l3.396-3.396A.25.25 0 0011.396 7H4.604a.25.25 0 00-.177.427z"></path></svg>
						</summary>
						{categories[category].sort((a, b) => (a.frontmatter.page - b.frontmatter.page)).map(page => {
							const currentPage = "/" + (new URL(Astro.request.url).pathname.split("/docs/")[1] || "");
							const path = page.url.split("/docs")[1] || "/";

							return (
								<li class="docs-sidebar-item" class:list={[{ selected: currentPage === path}]}>
									{currentPage}
									<a href={page.url}>
										{page.frontmatter.title}
									</a>
								</li>
							);
						})}
					</details>
				))}
			</ul>
		</aside>
		<article class="docs-content">
			<slot />
		</article>
	</Section>
</BaseLayout>

<style>
	:global(.docs-layout) {
		background-color: var(--background-secondary);
		flex: 1 1 auto;
	}

	:global(.docs-layout .section-inner) {
		display: flex;
	}

	@media only screen and (max-width: 768px) {
		:global(.docs-layout .section-inner) {
			flex-direction: column;
		}

		:global(.docs-layout) .docs-content {
			padding-block: 24px;
		}

		:global(.docs-layout) .docs-sidebar {
			position: relative;
			top: 0;
			margin: 0;
			inline-size: 100%;
			padding-block-start: 24px;
			padding-block-end: 0;
		}
	}
	
	.docs-sidebar {
		position: sticky;
		align-self: flex-start;
		inset-block-start: 56px;
		padding-block: 48px;
		margin-inline-end: 48px;
		flex: 0 0 auto;
		inline-size: 240px;
	}

	.docs-sidebar-category:not(:last-of-type) {
		margin-block-end: 12px;
	}

	.docs-sidebar-category:not(:last-of-type)[open] {
		margin-block-end: 36px;
	}

	.docs-sidebar-category summary {
		user-select: none;
		display: flex;
		cursor: pointer;
		justify-content: space-between;
		font-size: 14px;
		color: var(--foreground-primary);
		line-height: normal;
		margin: 0;
		font-weight: 700;
		padding-block-end: 8px;
		margin-block-end: 8px;
		border-block-end: 1px solid var(--interactive-primary);
	}

	.docs-sidebar-category summary:hover {
		border-color: var(--interactive-tertiary);
	}

	.docs-sidebar-category summary:focus-visible {
		outline: none;
		box-shadow: 0 0 0 3px var(--accent-faded);
	}

	.docs-sidebar-category summary svg {
		fill: var(--foreground-tertiary);
	}

	.docs-sidebar-category[open] summary svg {
		transform: rotate(180deg);
	}

	.docs-sidebar ul {
		flex-direction: column;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.docs-sidebar ul,
	.docs-sidebar-item a,
	.docs-sidebar-item {
		display: flex;
		flex: 1 1 auto;
	}
	
	.docs-sidebar-item a {
		outline: none;
		position: relative;
		display: flex;
		align-items: center;
		text-decoration: none;
		padding: 6px 12px;
		transition: 100ms ease;
		color: var(--foreground-secondary);
		border-radius: 3px;
		font-size: 16px;
		margin-block-end: 4px;
	}

	.docs-sidebar-item a:focus {
		box-shadow: 0 0 0 3px var(--accent-faded);
	}

	.docs-sidebar-item a:hover {
		background-color: var(--background-primary);
	}

	.docs-sidebar-item.selected a {
		background-color: var(--interactive-primary);
		color: var(--foreground-primary);
		font-weight: 600;
	}

	.docs-sidebar-item a::after {
		content: "";
		position: absolute;
		inset-inline-start: 0;
		block-size: 0;
		inline-size: 2px;
		border-radius: 8px;
		background-color: var(--accent-primary);
	}

	.docs-sidebar-item.selected a::after {
		block-size: 16px;
	}

	.docs-content {
		overflow: hidden;
		flex: 1 1 auto;
		padding-block: 48px;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.5;
		color: var(--foreground-secondary);
	}

	.docs-content :global(:focus) {
		outline: none;
		box-shadow: 0 0 0 3px var(--accent-faded);
	}

	.docs-content :global(h1) {
		font-size: 36px;
		margin-block-start: 84px;
	}

	.docs-content :global(h1:first-child) {
		margin-block-start: 0;
	}

	.docs-content :global(h1),
	.docs-content :global(h2),
	.docs-content :global(h3),
	.docs-content :global(h4),
	.docs-content :global(h5),
	.docs-content :global(h6) {
		color: var(--foreground-primary);
	}

	.docs-content :global(h1),
	.docs-content :global(h2),
	.docs-content :global(h3) {
		border-block-end: 1px solid var(--interactive-primary);
		padding-bottom: 0.25em;
	}

	.docs-content :global(pre) {
		padding-inline: 16px;
		padding-block: 8px;
		border-radius: 4px;
		background-color: var(--interactive-primary) !important;
		font-size: 12px;
	}
</style>